<%- include('../header'); -%>
<section class="best-of-the-week">
    <div class="container">
        <div class="row">
            <% phim.map(item=>{ %>
            <div class="col-md-3 col-xs-3 col-sm-3">
                <article class="article">
                    <div class="inner">
                        <figure id="imgpost">
                            <a href="/category/trailer?id=<%= item.id %>">
                                <img src="/static//images/news/<%= item.Poster %>" alt="Sample Article">
                            </a>
                        </figure>
                        <div class="padding">
                            <div class="padding">
                                <div class="tenphim">
                                    <h2><span id="spantenphim"><%= item.Ten %></span></h2>
                                </div>
                                <ul id="ulthongtin">
                                    <li><span class="saptt">Thể loại:</span>&nbsp;&nbsp;<%= item.TheLoai %></li>
                                    <li><span class="saptt">Thời lượng</span>&nbsp;&nbsp;<%= item.ThoiLuong %>&nbsp;&nbsp;Phút
                                    </li>
                                    <% let day = moment(item.NgayCongChieu).format('l') %>
                                    <li><span class="saptt">Khởi chiếu:</span>&nbsp;&nbsp;<%= day %></li>
                                </ul>
                                <footer>
                                    <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                        <div>10</div>
                                    </a>
                                    <a class="btn btn-primary more" href="/category/rap?id=<%= item.id %>">
                                        <div>Mua vé</div>
                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                    </a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <% }) %>
        </div>
    </div>
</section>
<%- include('../footer'); -%>