<%- include('../header'); -%>
<section class="best-of-the-week">
    <nav class="menu">
        <div class="container">
            <div class="line top">
                <div>Danh sách cụm rạp</div>
            </div>
            <div id="menu-list">
                <ul class="nav-list">
                    <!-- rap, cumrap, suatchieu -->
                    <!-- for CumRap -->
                    <% cumrap.map(item=>{ %>
                        <li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#"><%= item.TenCum %><i
                                        class="ion-ios-arrow-right"></i></a>
                            <!-- Modal -->
                            <div class="dropdown-menu megamenu">
                                <div class="megamenu-inner">
                                    <div class="row">
                                        <!-- forRap lay theo ID CumRap -->
                                        <a href="/category/thongtinrap?id=<%= item.id %>">
                                            <div class="line top">
                                                <div><%= item.TenCum %><i class="ion-ios-arrow-right"></i><i
                                                            class="ion-ios-arrow-right"></i><i
                                                            class="ion-ios-arrow-right"></i></div>
                                            </div>
                                        </a>
                                        <% suatchieu__.map(itemrap=>{ %>
                                            <% if(itemrap.Rap.CumRapId == item.id){ %>
                                                <div class="col-md-3">
                                                    <h2 class="megamenu-title"><%= itemrap.Rap.LoaiRap %></h2>
                                                    <ul class="vertical-menu">
                                                        <li><a href="#"><%= itemrap.Rap.TenRap %></a></li>
                                                        <table class="table table-dark">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="/category/ghe?IDRap=<%= itemrap.Rap.id %>&IDSuatChieu=<%= itemrap.id %>"><%= itemrap.ThoiDiemBatDau %>
                                                                        - <%= itemrap.ThoiDiemKetThuc %> <i
                                                                                class="ion-ios-arrow-right"></i></a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </ul>
                                                </div>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </nav>
</section>
<%- include('../footer'); -%>