<%- include('../header'); -%>
<section class="login first grey">
    <div class="container">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Thông tin cá nhân</h1>
                </div>
                <form class="user" action="/auth/update" method="post">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="">Tên Của Bạn</label>
                            <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                   placeholder="Tên" value="<%= users.Name %>" name="Name">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Số Điện Thoại</label>
                            <input type="text" class="form-control form-control-user" id="exampleLastName"
                                   placeholder="Số điện thoại" value="<%= users.Phone %>" name="Phone">
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Email Address" value="<%= users.Email %>" name="Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- <div class="form-group"> -->
                            <br>
                            <label for=""><h1><a href="/auth/chang-password">Đổi mật khẩu</a></h1></label>
                            <!-- </div> -->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </form>
                <hr>
                <div class="line top">
                    <div>HISTORY</div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Ngày Giờ</th>
                        <th scope="col">Phim</th>
                        <th scope="col">Rạp</th>
                        <th scope="col">Cụm Rạp</th>
                        <th scope="col">Ghế</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% user.map(item=>{ %>
                        <tr>
                            <% var convertTime = moment(item.DatCho.ThoiDiemDatVe).format('MMMM Do YYYY, h:mm:ss a'); %>
                            <td><%= convertTime %></td>
                            <td><%= item.DatCho.SuatChieu.Phim.Ten %></td>
                            <td><%= item.DatCho.SuatChieu.Rap.TenRap %></td>
                            <td><%= item.DatCho.SuatChieu.Rap.CumRap.TenCum %></td>
                            <td><%= item.MaGhe %></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<%- include('../footer'); -%>